/* [id^="skeleton"] */

#skeleton1 {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: carouselAnimation 10s ease-out forwards infinite;
}
#skeleton2 {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: carouselAnimation 10s ease-out forwards infinite;

  animation-delay: calc(var(--order) * 1500ms);
}
#skeleton3 {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: carouselAnimation 10s ease-out forwards infinite;

  animation-delay: calc(var(--order) * 2000ms);
}
@keyframes carouselAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  8.33%,
  33.33% {
    opacity: 1;
    transform: translateX(0);
  }
  41.66%,
  66.66% {
    opacity: 1;
    transform: translateX(100%);
  }
  75%,
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fadeInOutLeft {
  25% {
    opacity: 0;
    transform: translateX(100%);
  }
  25%,
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  50%,
  75% {
    transform: translateX(-100%);
  }
}
@keyframes fadeInOutTop {
  25% {
    opacity: 0;
    transform: translateY(100%);
  }
  25%,
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  50%,
  75% {
    transform: translateY(-100%);
  }
}
/* [id^="over"] {
  opacity: 0;
  animation: dropIn 7s ease-in-out forwards infinite;
  animation-delay: calc(var(--order) * 100ms);
}
@keyframes dropIn {
  20% {
    opacity: 0;
    transform: translateY(-20%);
  }
  30%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */
